@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-h: 96px;
}

body {
  scroll-margin-top: var(--nav-h);
}

.navbar {
  height: var(--nav-h);
}

.app-content {
  margin-top: var(--nav-h);
}